<div class="container">
    <h1>SETTINGS</h1>

    <h3>Create new Services</h3>

    <div>
        <mat-form-field>
            <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select">
                <mat-option *ngFor="let option of update_options" [value]="option.value">{{option.displayed}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button (click)="refresh()" mat-button>REFRESH</button>

    <h3>Sprache</h3>

    <div>
        <mat-form-field>
            <mat-select placeholder="{{ language_options[0].displayed }}"> <!-- TODO make selectedOption in ts file and add ngIf here to set placeholder if no option was selected -->
                    <mat-option *ngFor="let option of language_options" [value]="option.value">{{option.displayed}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
