<div class="container">
    <h1 i18n="@@settings_header">Settings</h1>

    <h3 i18n="@@settings_wps_header">Add WPS server</h3>
    <mat-form-field>
        <input placeholder="url" (keyup.enter)="addWPS(wps_url_input.value)" #wps_url_input autocomplete="url" matInput>
    </mat-form-field>
    <!--<mat-label *ngIf="!wps_url_input.value" style="color:red">Please insert a valid URL</mat-label>
    <button *ngIf="wps_url_input.value" mat-button (click)="addWPS(wps_url_input.value)">hinzufügen</button>-->
    <button [disabled]="!wps_url_input.value" mat-button (click)="addWPS(wps_url_input.value)" i18n="@@add">Add</button>

    <div *ngFor="let wps of wps_list | async">
        <span class="wps_info">{{wps.title}}</span>
        <span class="wps_info">{{wps.provider.url}}</span>
        <a mat-button (click)="remove(wps.id)" i18n="@@delete">Delete</a>
    </div>

    <h3 i18n="@@settings_reload_wps">Reload WPS server</h3>
    <button (click)="refresh()" mat-button i18n="@@reload">Reload</button>
    <!-- TODO set some kind of timeout for refreshing -->

    <h3 i18n="@@language">Language</h3>
    <div>
        <mat-form-field>
            <mat-select placeholder="{{ selected_language.displayed }}" [(value)]="selected_language.value">
                <!-- TODO make selectedOption in ts file and add ngIf here to set placeholder if no option was selected -->
                <mat-option (click)="onLangSelect(option)" *ngFor="let option of language_options" [value]="option.value">{{option.displayed}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>