:host {
    display: block;
    overflow: scroll;
    -ms-overflow-style: none;
}
:host::-webkit-scrollbar { 
    display: none;
}

.background {
    background-image: url('../../../assets/img/editor_bg.png');
    height: 3000px;
    width: 3000px;
    position: relative;
}

.task {
    position: absolute;
}