@import '../../components/app/app.component';

:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.toolbar {
    position: fixed;
    top: $app-nav-height;
    left: 0;
    right: 0;
    height: 58px;
    background: #fafafa;
    padding: 11px;
}

.editor {
    margin-top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

.title {
    display: inline-block;
    color: #101010;
    padding: 9px;
}

.run {
    position: fixed;
    bottom: 34px;
    right: 34px;
}

.process-list {
    min-width: 230px;
    position: fixed;
    top: 118px;
    bottom: 8px;
    left: 8px;
}