<div class="container workflows-list">
    <h1>My Workflows</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let workflow of workflows | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ workflow.title }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-editor class="editor" [workflow]="getWorkflow(workflow.id) | async" [processes]="processes | async" class="editor"></app-editor>

            <div class="actions">
                <div class="actions-left">
                    <button mat-button color="warn" (click)="remove(workflow.id)">DELETE</button>
                </div>
                <div class="actions-right">
                    <button mat-raised-button (click)="edit(workflow.id)">EDIT</button>
                    <button *ngIf="validate(workflow)" mat-raised-button color="primary" (click)="run(workflow.id)" [disabled]="runs(workflow)">{{runs(workflow) ? 'RUNNING' : 'RUN'}}</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>