
.workflows-list {
    padding: 21px 0;
}


.actions { 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.editor {
    height: 50vh;
    border: solid 1px #e0e0e0;
    pointer-events: none;
}

.spinner {
    margin: auto;
}
