:host {
   
}

.workflows-list {
    padding-top: 21px;
}


.actions { 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.editor {
    height: 50vh;
    border: solid 1px #e0e0e0;
    pointer-events: none;
}
